.background-overlay {
  background-image: url(../img/overlay-vignette.png);
}

.background {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  animation: fadeIn 400ms ease-in-out forward;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-info {
  white-space: nowrap;
  font-weight: 400;

  height: 50px;
  width: 80%;
}
.background-info:hover {
  transition: all ease-in-out 400ms;
}

.info-title {
  color: rgba(255, 255, 255, 0.8);
}
.background-info:hover .info-title {
  opacity: 1;
  transform: translate3d(0, -10px, 0);
}

.info-more {
  white-space: nowrap;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.4);

  opacity: 0;
  transform: translate3d(0, -20px, 0);
}
.background-info:hover .info-more {
  opacity: 1;
  transform: translate3d(0, -5px, 0);
  transition: opacity, transform cubic-bezier(0.22, 0.61, 0.36, 1) 400ms;
}
.info-more:hover {
  color: rgba(255, 255, 255, 0.8);
}
