
.todoList-showing{
    display: none;
  }
  #layout-todoList {
    text-align: left;
    width: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  
  .todoList-modal{
    background:rgba(0, 0, 0);
    width: 200%;
    min-height: 40px;
    position: absolute;
    left: -100%;
    bottom: 100%;
  }
  .todoList-text{
    list-style-type: none;
  }